<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
    <header th:fragment="header" class="navbar customer-header navbar-dark navbar-expand-md p-0">
        <div class="container-fluid px-3">
            <a class="navbar-brand d-flex align-items-center" th:href="@{/customer/dashboard}">
                <i class="fas fa-truck-fast"></i>
                <span>Khách Hàng</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav ms-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle d-flex align-items-center text-white" href="#" role="button" data-bs-toggle="dropdown">
                        <div class="avatar-circle bg-white text-success me-2" style="width:32px;height:32px;border-radius:50%;display:flex;align-items:center;justify-content:center;font-weight:600;">
                            <span sec:authentication="name" th:text="${#strings.substring(#authentication.name, 0, 1)}">U</span>
                        </div>
                        <span class="d-none d-md-inline" sec:authentication="name">User</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" th:href="@{/customer/profile}"><i class="fas fa-user me-2"></i>Hồ sơ</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <form th:action="@{/auth/logout}" method="post" class="m-0">
                                <button type="submit" class="dropdown-item text-danger">
                                    <i class="fas fa-sign-out-alt me-2"></i>Đăng xuất
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>
</html>